body {
    background-color: ButtonShadow;
}

nav {
    color: black;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
   text-align: center;
    padding-top:40px;
padding-bottom:30px;
}

h2{
font-family: 'Times New Roman', Times, serif;
   font-size: 22px;
   padding-left: 30px;
   padding-bottom:20px;
   padding-top:30px;
}

p {
    
  padding-left:30px;
    font-size: 16px;
}

.list{
    margin-left:30px;
    font-size: 16px;

}
img {
    width: 30%;
    height: 30%;
    float: right;
    padding-top: 60px;
    margin-right: 80px;
}

