body {
    background-color: ButtonShadow;
    color: black;
    font-family:Arial;
    font-size: 18px;
    
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
    float:right;
    padding-left: 20px;
    padding-top: 20px;
    padding-right:0px;
    margin-right:0px;
}


h1{
    padding-top: 30px;
    padding-bottom:30px;
    font-family:'Times New Roman', Times, serif;
}