body
{
   
}


img {
    width: 30%;
    height: 30%;
    float: right;
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 0px;
    margin-right: 0px;
    border-color:black:
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    
    padding-left: 380px;
    padding-top: 120px;
    padding-bottom: 30px;
    font-size: 18px;
    vertical-align: middle;
}

p{
    text-align: center;
padding-left:50px;
padding-right:50px;
padding-top:20px;
font-size: 20px;

}