body {
    background-color: ButtonShadow;
}

nav {
    color: black;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
}

h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 30px;
    height: 500px;
    margin-left:155px;
    margin-top: 30px;
}