body{
    background-color: ButtonShadow;

}
nav {
    color: black;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
}

img {
    width: 30%;
    height: 30%;
    float: right;
    margin-right:50px;
    margin-top:50px;
    margin-left:50px;

   
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    
    padding-left: 380px;
    padding-top: 120px;
    padding-bottom: 20px;
    
}

p{
    text-align: center;
padding-left:50px;
padding-right:300px;
padding-top:20px;
line-height: 1.75;

}


footer
{
    padding-top:200px;
    
}